body {
    display: flex;
    background-color: #f0f0f0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 50%;
}

p {
    padding: 0.2rem 0;
    font-family: sans-serif;
    font-size: 1.5rem;
    color: #333;
}

label {
    font-family: sans-serif;
    font-size: 1rem;
    color: #333;
    padding: 0.5rem 0;
}

input, select {
    padding: 1rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

textarea {
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ececec;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
    height: 100px;
}

:placeholder-shown {
    color: #999;
    opacity: 0.5;
}

button {
    padding: 0.5rem 1rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}